/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
hr {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    display: block;
}

.input_control {
    height: 100%;
    width: 100%;
    /* border: none; */
    outline: none;
}

.form-select:focus,
.form-control:focus {
    box-shadow: none;
    border-color: #00f280;
}

.fa-solid,
.fas {
    font-weight: 500;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
}

/* nav start */
.sidebar__fixed__nav {
    flex-direction: column;
    border: 1px solid #28E98C;
    border-radius: 30px;
    position: fixed;
    right: 68px;
    top: 322px;
    /* width: 55px; */
    text-align: center;
    gap: 20px;
    padding: 24px 0;
    /* background: #1f1f1f; */
    z-index: 999;
}

.menu__items {
    top: 50%;
    transform: translateY(-50%);
}

.menu__items li a i {
    font-size: 18px;
    color: #000;
    transition: all .5s ease-in-out;
    display: block;
}

.menu__items li a i:hover {
    color: #28E98C;
}

.menu__items li a {
    display: block;
    position: relative;
    /* padding: 10px 10px; */
    width: 55px;
    transition: .3s;
    color: #999999;
    cursor: pointer;
}

/* nav end */

/* home start */

.personal__photo img {
    width: 250px;
    /* height: 250px; */
    margin: auto;
    object-fit: cover;
}

.personal__info {
    background: #fff;
    padding: 20px 40px;
    border-radius: 20px;
    /* box-shadow: rgb(40, 233, 140) 0px 30px 60px -12px inset, rgb(40, 233, 140) 0px 18px 36px -18px inset; */
    border: 1px solid #28e98c29;
}

.info__icon {
    border: 1px solid #28E98C;
    color: #28E98C;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
}

.info__contact li a {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 12px;
}

.info__text {
    width: calc(100% - 52px);
    line-height: initial;
    color: #1e3e55;
    transition: all .5s ease-in-out;
    font-weight: 600;
    font-size: 18px;
}

.info__contact li a:hover .info__text {
    color: #28e98c;
    display: flex;
}

.info__contact li:not(:last-child) {
    margin-bottom: 10px;
}

.name__info h2 {
    color: #041826;
    font-weight: 600;
    font-size: 28px;
}

.name__info h4 {
    color: #1e3e55;
}

.info__bottom {
    border-top: 1px solid #28e98c3d;
    margin-top: 20px;
    padding-top: 20px;
}

.personal__photo {
    margin-bottom: 20px;
}

.personal__content {
    margin-left: 50px;
}

.personal__content h1 {
    font-size: 50px;
    color: #28e98c;
    line-height: 50px;
    margin-bottom: 10px;
}

.personal__content span {
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}

.social__links li a i {
    border: 1px solid #28E98C;
    color: #28E98C;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    transition: all .5s ease-in-out;
    height: 35px;
    text-align: center;
    line-height: 1;
    font-size: 15px;
}

.social__links li a i:hover {
    background: #28E98C;
    color: #fff;
}

.social__info h5 {
    margin-right: 10px;
    font-weight: 600;
}

.social__links li {
    margin-right: 10px;
}

.contact__btn {
    background: #000;
    color: #fff;
    padding: 8px 20px;
    z-index: 2;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    transition: all .5s ease-in-out;
    font-weight: 600;
    font-size: 14px;
    margin: 30px 0;
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.personal__content h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}

.contact__btn::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    transition: all .5s ease-in-out;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #28E98C;
    border-radius: 5px;
    transform: scaleX(0);
}

.contact__btn:hover:after {
    transform: scaleX(1);
}

.personal__content p {
    color: #1e3e55;
    font-size: 18px;
    max-width: 520px;
    width: 100%;
}

/* home end */

/* about start */
.about_image {
    width: 300px;
    height: 350px;
    margin: 0px auto;
    border-radius: 12px;
    transform: rotate(0);
    position: relative;
}

.about_image img {
    height: 100%;
    border-radius: 5px;
    border: 5px solid #b4d2fd;
    transform: rotate(-15deg);
    background: #79d9ab;
}

.about_image_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -12px;
    left: 20px;
    background: transparent;
    transform: rotate(0);
    border: 5px solid #28e98c;
    border-radius: 12px;
    z-index: -1;
    /* opacity: .3; */
}

.about__content p {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
}

.about__content h3 {
    font-weight: 700;
    font-size: 35px;
}

.about__content .about__info {
    font-weight: bold;
    padding-bottom: 0;
    font-size: 18px;
}

.about__content h5 {
    font-weight: 600;
    padding: 5px 0;
    font-size: 22px;
}

.about__social i {
    color: #000 !important;
    border: 2px solid #b4d2fd !important;
}

.about__social li a {
    transition: all .5s ease-in-out;
}

.about__social li a:hover i {
    background: #b4d2fd !important;
}

.social__links.about__social {
    margin-top: 20px;
}

/* about end */

/* education start */
.education li {
    display: flex;
    padding-bottom: 30px;
    position: relative;
    border-left: 2px solid #28e98c;
    padding-left: 30px;
    width: 100%;
    max-width: 600px;
}

.education li::after {
    position: absolute;
    content: '';
    left: -10px;
    top: 0;
    border: 2px solid #28e98c;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.education li:last-child {
    padding-bottom: 0;
}

.education__icon i {
    background: #28e98c;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 20px;
}

.education li h3 span {
    background: #28e98c;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 700;
    margin-left: 10px;
}

.education__icon {
    margin-right: 20px;
}

.education li h3 {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
}

.education__content p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.3;
    padding-bottom: 15px;
}

.education__year {
    position: relative;
    padding-left: 15px;
    font-weight: 600;
    color: #28e98c;
}

.education__year::after {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    background: #28e98c;
    transform: translateY(-50%);
}

/* education end */

/* contact start */
.section__title {
    position: relative;
}

.section__title h2 {
    color: #fff;
    font-size: 72px;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: 3px 3px 0 #28E98C, -1px -1px 0 #28E98C, 1px -1px 0 #28E98C, -1px 1px 0 #28E98C, 1px 1px 0 #28E98C;
    opacity: .15;
    text-transform: uppercase;
}

.section__title h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 700;
    display: flex;
    white-space: nowrap;
    text-transform: uppercase;
}

.contact__form input,
.contact__form textarea {
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
}

.contact__form textarea {
    margin-bottom: 0;
}

.contact__form .contact__btn {
    border: none;
    margin-top: 20px;
}

.info__contact.contact__page {
    margin-left: 50px;
}

.info__contact.contact__page li {
    margin-top: 20px;
}

.contact__form h2 {
    font-size: 40px;
    color: #28e98c;
}

.contact__form p {
    font-size: 20px;
    padding: 20px 0;
}

/* contact end */